@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Poiret+One&family=Poppins:wght@100&family=Rajdhani&display=swap');
* {
    
    box-sizing: border-box;
    font-family: 'Poiret One';
    font-style: normal;
}

body {
    margin: 0;
    background-color: #8496B5;
    
}

h1 {
    padding-top: 80px;
    font-weight: 900;
    padding-right: 80px;
    font-size: 4.3rem;
    color: white;
    text-align: right;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
    text-align: right;
    margin-right: 100px;
    color: #AAC8E7;
}

body {
    margin: 0;
    padding: 0;
}

#stripe {
    position: absolute;
    width: 1176px;
    height: 80px;
    left: 264px;
    top: 0px;
    background: #ffffff;
}

#line {
    position: absolute;
    width: 250px;
    height: 1080px;
    left: 264px;
    top: 80px;
    background: transparent;
    border-right: 1px solid #d0cad7;
}



hr {

    border-color: #A0AF82;
    display: block;
    margin-top: 0.5em;

    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-width: .25px;
    margin-left: 10px;
}
#rectangle {
  position: absolute;
  margin-left: 33.3333%;
  width: 66.6666%;
  height: 4080px;
  top: 0px;
  background-color: #1178634f;
}

img {
    width: 120%;
    margin-left: 70px;
    margin-top: 80px;
    box-shadow: 3px 3px 3px #5a6e91;
    border-radius: 15px;
  }

  .flex-container {
    display: flex;
}

.flex-child {
    flex: 0.5;
}  

.flex-child:first-child {
    margin-right:20px;
} 

.flex-child2 {
    flex: 1;
}  

.flex-child:first-child {
    margin-right:20px;
} 
